### --- Clojure & Shadow-cljs ---
.shadow-cljs/
.cpcache/
/target/
/resources/public/js/
*.class
*.jar
pom.xml
pom.xml.asc

node_modules/
dist/
.DS_Store
.env
.env.local
.env.*.local
rust_modules/
resources/

.idea/
.vscode/
.lein-repl-history
.repl-history
.nrepl-port
.shadow-cljs-port

.clj-kondo/
.lsp/

Thumbs.db
.DS_Store

packages/generated-compat/
packages/generated/

themes/
build/
public/

quick.sh