{:app-id-ios "moi.paradise.ios", :app-id "moi.paradise.web", "matrix" {:dev "/engine-matrix.js", :prod "https://paradise-chat.github.io/Matrix-Engine/plugin.js"}, :app-id-android "moi.paradise.android", :app-name "Paradise", :push-url "https://web.paradise.moi/_matrix/push/v1/notify", :vapid-key "BHLwykXs79AbKNiblEtZZRAgnt7o5_ieImhVJD8QZ01MVwAHnXwZzNgQEJJEU3E5CVsihoKtb7yaNe5x3vmkWkI", :version "0.37.2", "nostr" {:dev "/engine-nostr.js", :prod "https://paradise-chat.github.io/Nostr-Engine/plugin.js"}}