{:app-id "moi.paradise.web", :app-id-ios "moi.paradise.ios", :app-id-android "moi.paradise.android", :push-url "https://web.paradise.moi/_matrix/push/v1/notify", :vapid-key "BHLwykXs79AbKNiblEtZZRAgnt7o5_ieImhVJD8QZ01MVwAHnXwZzNgQEJJEU3E5CVsihoKtb7yaNe5x3vmkWkI", :app-name "Paradise", :version "0.31.10"}