{:paths ["src" "resources" "docs"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        thheller/shadow-cljs {:mvn/version "2.26.2"}
        com.taoensso/timbre {:mvn/version "6.8.0"}
        reagent/reagent {:mvn/version "2.0.1"}
        com.taoensso/tempura {:mvn/version "1.5.4"}
        re-frame/re-frame {:mvn/version "1.4.4"}
        jtk-dvlp/cljs-workers {:git/url "https://github.com/Paradise-in-Matrix/cljs-workers.git"
                               :git/sha "0ee7acd86aca1f9b32e566408ba43f901491f2b9"}
        org.babashka/sci {:mvn/version "0.12.51"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}
        funcool/promesa {:mvn/version "11.0.678"}}}
