{:paths ["src" "resources" "docs"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        thheller/shadow-cljs {:mvn/version "2.26.2"}
        com.taoensso/timbre {:mvn/version "6.8.0"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        juji/editscript {:mvn/version "0.7.0"}
        rewrite-clj/rewrite-clj {:mvn/version "1.2.54"}
        reagent/reagent {:mvn/version "2.0.1"}
        com.taoensso/tempura {:mvn/version "1.5.4"}
        re-frame/re-frame {:mvn/version "1.4.4"}
;;        paradise/virtualizer {:local/root "../Virtualizer"}
        paradise/virtualizer {:git/url "https://github.com/Paradise-in-Matrix/Virtualizer.git"
                              :git/sha "c581ff42ad40e7aecbe3652e687c5259644c00b4"
        }
        jtk-dvlp/cljs-workers {:git/url "https://github.com/Paradise-in-Matrix/cljs-workers.git"
                               :git/sha "0ee7acd86aca1f9b32e566408ba43f901491f2b9"}
        eve/eve {:git/url "https://github.com/SeniorCareMarket/eve"
                 :git/sha "10760f1c67d491d1a1ac3b6156a6801809292e81"}
        org.babashka/sci {:mvn/version "0.12.51"}
        org.babashka/sci.configs {:git/url "https://github.com/babashka/sci.configs"
                     :git/sha "a785be2090991bf99ddc1c8cb4923a7217f6e098"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}
        funcool/promesa {:mvn/version "11.0.678"}}}


