{:deps {:aliases [:dev]}
 :builds
 {:app {:target :esm
        :npm-deps false
        :build-hooks [
                      ;;[build-hooks/generate-lang-map]
                      [build-hooks/include-root-files]
                      [build-hooks/include-themes]
                      [build-hooks/copy-wasm]
;;                      [build-hooks/tangle-hook]
                      ]
        :output-dir "build"
        :asset-path "/"
        :modules {:base {:entries []}
                  :main {:entries [client.core]
                         :depends-on #{:base}
                         :exports {init client.core/init}}
                  :sw   {:entries [service-worker]
                         :web-worker true
                         :depends-on #{:base}}}
        :js-options
        {:js-provider :import
         :esm-js-shim false
         :loader {".css" :css}}
        :compiler-options
        {:optimizations
         :simple
         :output-feature-set :es-next
         :warnings {:undeclared-ns false
                    :undeclared-var false
                    :infer-warning false}}
        :devtools {:after-load client.core/after-load
                   :watch-dir "docs"}}}}
