{:deps {:aliases [:dev]}
 :builds
 {:app {:target :esm
        :npm-deps false
        :build-hooks [[lambda-lifter/hook]
                      [build-hooks/include-root-files]
                      [build-hooks/include-themes]
                      [build-hooks/stamp-version]
                      [build-hooks/include-css]
                      [build-hooks/copy-wasm]
                      [build-hooks/copy-element-call]]
        :output-dir "build"
        :asset-path "/"
        :modules {:base {:entries []}
                  :main {:entries [paradise.shared.client.core]
                         :depends-on #{:base}
                         :exports {init paradise.shared.client.core/init}}
                  :sw {:entries [service-worker]
                       :web-worker true
                       :depends-on #{:base}}
                  :media {:entries [paradise.media.core]
                          :web-worker true
                          :depends-on #{:base}}
                  :engine {:entries [paradise.engine.core]
                           :web-worker true
                           :depends-on #{:base}}
;;                  :engine-matrix {:entries [paradise.engine.matrix.core]
;;                                  :web-worker true
;;                                  :depends-on #{:engine}
;;                                  :exports {init paradise.engine.matrix.core/bootstrap}
;;                                  }

                  :virtualizer {:entries [paradise.virtualizer.base]
                                :web-worker true
                                :depends-on #{:base}}}
        :js-options
        {:js-provider :import
         :esm-js-shim false
         :loader {".css" :css}}
        :compiler-options
        {:optimizations
         :simple
         :pretty-print true
         :output-feature-set :es-next
         :warnings {:undeclared-ns false
                    :undeclared-var false
                    :infer-warning false}}
        :devtools {:after-load paradise.shared.client.core/after-load
                   :watch-dir "docs"
                   ;;:devtools-url "."
                   }}}}
